{
  "id" : "${instanceId}-check-add-contexx-temp",
  "matching" : {
    "topicFilter": "${topicFilter}"
  },
  "validation" : {
    "validators" : [ {
      "type" : "schema",
      "arguments" : {
        "strategy" : "ALL_OF",
        "schemas" : [ {
          "schemaId" : "${instanceId}-Sensor-schema-1",
          "version" : "latest"
        } ]
      }
    } ]
  },
  "onSuccess" : {
    "pipeline" : [ {
      "id" : "operation-7vM4o",
      "functionId" : "System.log",
      "arguments" : {
        "level" : "INFO",
        "message" : "Received a valid temperature payload "
      }
    }, {
      "id" : "operation-nTjlP",
      "functionId" : "Serdes.deserialize",
      "arguments" : {
        "schemaVersion" : "latest",
        "schemaId" : "${instanceId}-Sensor-schema-1"
      }
    }, {
      "id" : "operation-IjSbH",
      "functionId" : "fn:${instanceId}-add_time_context-2:latest",
      "arguments" : { }
    }, {
      "id" : "operation-XK4y2",
      "functionId" : "Serdes.serialize",
      "arguments" : {
        "schemaVersion" : "latest",
        "schemaId" : "${instanceId}-sensor_context_schema-3"
      }
    } ]
  },
  "onFailure" : {
    "pipeline" : [ {
      "id" : "operation-WlzQf",
      "functionId" : "System.log",
      "arguments" : {
        "level" : "WARN",
        "message" : "Received NOT a valid temperature payload "
      }
    }, {
      "id" : "operation-2eyHv",
      "functionId" : "Mqtt.drop",
      "arguments" : {
        "reasonString" : "Received NOT a valid temperature payload "
      }
    } ]
  }
}